.resume-wr {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly; }
  .resume-wr .content-wr {
    display: flex;
    flex-direction: column;
    max-width: 50%;
    flex-direction: column; }
  .resume-wr .header-wr {
    max-width: 50%; }
