@import "nav.scss";
@import "landing.scss";
@import "./resume/resume.scss";

html, body {
  margin: 0;
  padding: 0;
  font-family: $base-font-family;
  font-size: $base-font-size;
  background-color: $white;
}

.app-wrapper {
  margin: 0 10em;
}

