/***
  Four base colors for the website
***/
/***
  uigradients.com
  themes
***/
.links-wrapper {
  margin: 0 auto;
  text-align: center;
  font-size: 1.2rem;
  line-height: 4rem;
  background: linear-gradient(to right bottom, #D1913C, #FFD194); }
  .links-wrapper .link {
    padding: 10px;
    text-decoration: none;
    color: #ffffff; }
    .links-wrapper .link:hover {
      color: black; }
