.links-wrapper {
  display: flex;
  flex-direction: row;
  text-align: center;

  background: linear-gradient(to right bottom, #74a2ed, #1969ea);

  .link {
    padding: 10px;
    text-decoration: none;
    color: #ffffff;
  }
}