@import "variables.scss";

$links-font-size: 1.2rem;

.links-wrapper {
  margin: 0 auto;
  text-align: center;
  font-size: $links-font-size;
  line-height: $line-height-navbar;
  background: linear-gradient(to right bottom, $from-color,$to-color);

  .link {
    padding: 10px;
    text-decoration: none;
    color: $white;

    &:hover {
      color: black;
      
    }
  }
}